<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header mt-3" style="background-color: rgba(0, 0, 0, 0.3);" th:fragment="myheader">

	<nav class="navbar ml-auto navbar-expand navbar-dark sticky-top mt-2 text-white ">

		<div th:if="${view=='first_setup'}" class="collapse navbar-collapse justify-content-md-center d-flex flex-wrap mt-3">
			<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
				<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
					<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				</symbol>
			</svg>
			<div class="alert alert-danger d-flex align-items-center" role="alert">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
				<div>
					Dies ist das erste Ausführen von dem Log-File-Analyzer. Bitte wähle die LogsFiles aus welche überwacht werden sollen.
					Unter Config kann man diese Einstellungen zu jederzeit verändern.
				</div>
			</div>
		</div>

		<div th:if="${view!='first_setup'}" class="collapse navbar-collapse justify-content-md-center d-flex flex-wrap">
			<a  class="navbar-brand ms-5" href="/home"><img class="" src="/pics/monitoring.png" alt="Logo" width="40" height="40" ></a>

			<button class="nav-item m-2 p-2 rounded btn btn-outline-light text-uppercase"
					th:classappend="${#httpServletRequest.getRequestURI().startsWith('/logs/logs_all') ? 'active':''}"
					th:onclick="|window.location.href='@{/logs/logs_all}'|"
					type="button"><a th:text="'Monitoring'"></a>
			</button>
			<button class="nav-item m-2 p-2 rounded btn btn-outline-light text-uppercase"
					th:classappend="${#httpServletRequest.getRequestURI().startsWith('/cleanup/showAll') ? 'active':''}"
					th:onclick="|window.location.href='@{/cleanup/showAll}'|"
					type="button"><a th:text="'Scan File Size'"></a>
			</button>
			<button class="nav-item m-2 p-2 rounded btn btn-outline-light text-uppercase"
					th:classappend="${#httpServletRequest.getRequestURI().startsWith('/cleanup/config') ? 'active':''}"
					th:onclick="|window.location.href='@{/cleanup/config/}'|"
					type="button"><a th:text="'Config'"></a>
			</button>
			<button class="nav-item m-2 p-2 rounded btn btn-outline-warning text-uppercase"
					th:onclick="|window.location.href='@{/logs/logs_reload(application='all')}'|"
					type="button"><a th:text="'Refresh all LogEntries'"></a>
			</button>

		</div>

		<div class="me-5">
		   <button title="release" th:text="${@versionsnummer.getVersion()}" type="button"
				   class="btn btn-outline-light btn-sm ms-2 active disabled"></button>
		</div>
	</nav>

    </div>
