<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="Components/head :: head">
	<title> Table of LogFiles </title>
</head>

<body>


<div class="mask p-4 mt-3" style="background-color: rgba(0, 0, 0, 0.2);">
	<div th:insert="/Components/header :: myheader"></div>
	<div th:if="${view!='first_setup'}" th:insert="/Sides/Config/Components/navbar :: config-navbar"></div>

	<form action="#" th:action="${path}" th:object="${form}" method="post">

		<fieldset>

			<header>
				<nav id="navbar_top" class="mt-2 navbar navbar-expand-lg navbar-dark bg-secondary">
					<div class="container">
						<div class="collapse navbar-collapse" id="main_nav">
							<ul class="navbar-nav ms-auto">
								<li class="nav-item me-2"><input type="reset" class="btn btn-warning " id="resetButton" name="reset" th:value="Reset"></li>
								<li class="nav-item"><input type="submit" class="btn btn-success " id="submitButton" th:value="Save"></li>
							</ul>
						</div> <!-- navbar-collapse.// -->
					</div> <!-- container-fluid.// -->
				</nav>
			</header>

			<table class="table table-striped mt-2" style="width:100%"  th:fragment="tabelleninhalt">
				<thead class="sticky-top bg-dark text-white shadow">
				<tr>
					<th> Überwacht </th>
					<th hidden> ID </th>
					<th> Application </th>
					<th> Path </th>
					<th> File Size </th>
					<th> Last Modified </th>
					<th> Created Date </th>
				</tr>
				</thead>

				<tbody>
				<tr th:each="logFileModel, itemStat : *{setDTOFiles}">

					<td><select class="form-select"
								th:name="|setDTOFiles[${itemStat.index}].activateTracking|"
								th:value="${logFileModel.getActivateTracking()}">
						<option value="false" th:selected="${logFileModel.getActivateTracking() == false}"> Ignorieren </option>
						<option value="true" th:selected="${logFileModel.getActivateTracking() == true}"> Tracken </option>
					</select>	</td>

					<td hidden ><input th:name="|setDTOFiles[${itemStat.index}].id|" th:value="${logFileModel.getId()}"/></td>
					<td><span th:text="${logFileModel.application}"></span></td>
					<td><span th:text="${logFileModel.path}"></span></td>
					<td class="text-end"><span  th:text="${logFileModel.fileSize}"> </span> KiB </td>
					<td><span th:text="${logFileModel.lastModified}"> </span></td>
					<td><span th:text="${logFileModel.createdDate}"> </span></td>
				</tr>
				</tbody>
			</table>
		</fieldset>
	</form>


</div>

</body>

</html>